* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background: #f4f4f4;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: aqua;
}